@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap");

body {
  text-align: center;
  background-color: #c2fff9;
}

h1 {
  margin: 50px auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3em;
  color: #ffe652;
  background-color: #009dae;
  width: 80%;
  cursor: default;
}

img {
  width: 10rem;
  position: absolute;
  left: 9rem;
  top: 0.5rem;
}

/* Description */

.desc-change {
  height: 20.8px;
  width: 240px;
  padding: 5px;
  color: #009dae;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: 3px solid #71dfe7;
  border-radius: 150px;
  background-color: #c2fff9;
  outline: none;
  margin-bottom: 20px;
}

.desc-change:focus {
  border: 4px solid #71dfe7;
}

::placeholder {
  color: #009dae;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.description {
  color: #009dae;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

/* Desription buttons */
.desc-change-button {
  height: 36.8px;
  width: 36.8px;
  margin-left: 10px;
  color: #71dfe7;
  background-color: #009dae;
  border: 0;
  border-radius: 20px;
  opacity: 0.6;
  cursor: pointer;
  transition-duration: 0.4s;
}

.desc-change-button:hover {
  opacity: 1;
}

.edit-desc-button {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  color: #71dfe7;
  background-color: #009dae;
  border: 0;
  border-radius: 20px;
  opacity: 0.6;
  padding: 0;
  cursor: pointer;
  transition-duration: 0.4s;
}

.edit-desc-button:hover {
  opacity: 1;
}

/* Timer values */

label {
  color: #009dae;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  font-weight: normal;
}

input[type="number"] {
  width: 100px;
  color: #009dae;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  background-color: #c2fff9;
  border: 0;
  text-align: right;
  outline: none;
  padding-right: 5px;
  cursor: default;
  margin-top: 20px;
}

/* Set button */
.set-button {
  margin-top: 30px;
  margin-bottom: 40px;
  height: 50px;
  width: 100px;
  color: #c2fff9;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 50px;
  border: 0;
  background-color: #009dae;
  opacity: 0.6;
  cursor: pointer;
  transition-duration: 0.4s;
}

.set-button:hover {
  opacity: 1;
}

/* Pause, resume and delete buttons */
.pause,
.resume,
.delete {
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 40px;
  height: 40px;
  width: 80px;
  color: #c2fff9;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 50px;
  border: 0;
  background-color: #009dae;
  opacity: 0.6;
  cursor: pointer;
  transition-duration: 0.4s;
}
.pause,
.resume,
.delete:hover {
  opacity: 1;
}

/* Add task button */
#addTimerButton {
  height: 40px;
  width: 40px;
  color: #c2fff9;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  border: 0;
  border-radius: 20px;
  background-color: #ffe652;
  cursor: pointer;
  transition-duration: 0.5s;
}

#addTimerButton:hover {
  background-color: #c2fff9;
  color: #ffe652;
}
